.wps{
  position: absolute;
  height: 196px;
  width:18%;
  top:8.87em;
  right:5%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 12px 1px #67C43F;
}

.wps h4{
  margin-left: 2px;
  font-size: 1em;
}


.tryagain{
  position: absolute;
  height: 46px;
  width:15%;
  top:17.56em;
  right:6%;
  background: linear-gradient(#E4F21B,#67C43F);
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 0px 0px transparent;
  &:hover{
    opacity:0.6;
  }
}

.tryagain h5{
  font-family:monospace;
  font-size: 14px;
  position: absolute;
  box-sizing: border-box;
  left:40%;
  right:50%;
  margin-left: 0px;
  transform: translate(-50%,-50%);
  top:0px;

}
